/* this will contain all the css for the two html files */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

nav {
    background-color: rgb(247, 14, 14);
    border-bottom: 1px solid black;
    padding: 16px
}

.toMainPage-Button {
    cursor: grab;
    text-decoration: none !important;
}

.toMainPage-Button:hover {
    background-color:bisque;
}

a {
    text-decoration: none !important;
}

body {
    font-family: roboto;
    margin: 0px;
    border: 3px solid purple
}

main {
    padding: 16px;
    border: 3px solid red
}

.grid {
    display: grid;
    grid-template-columns:auto auto auto auto ;
}



img {
    text-decoration: none !important;
    cursor: grab;
    height: 200px
}

footer {
    bottom: 34px;
    padding: 24px, 0px , 24px, 0px
}


tr:nth-child(even) {
    background-color: rgb(216, 216, 216)
}
